In [93]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv(r"C:\Users\Admin\Airbnb+Data\power bi projects\CAvideos.csv\CAvideos.csv")

In [94]:
df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. BeyoncÃ©,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. BeyoncÃ© i...
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146035,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO â–¶ \n\nSUBSCRIBE â–º http...
3,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095828,132239,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...
4,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634130,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,ðŸŽ§: https://ad.gt/yt-perfect\nðŸ’°: https://atlant...

In [95]:
df.columns

Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description'],
      dtype='object')

In [96]:
df.shape

(40881, 16)

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40881 entries, 0 to 40880
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                40881 non-null  object
 1   trending_date           40881 non-null  object
 2   title                   40881 non-null  object
 3   channel_title           40881 non-null  object
 4   category_id             40881 non-null  int64
 5   publish_time            40881 non-null  object
 6   tags                    40881 non-null  object
 7   views                   40881 non-null  int64
 8   likes                   40881 non-null  int64
 9   dislikes                40881 non-null  int64
 10  comment_count           40881 non-null  int64
 11  thumbnail_link          40881 non-null  object
 12  comments_disabled       40881 non-null  bool
 13  ratings_disabled        40881 non-null  bool
 14  video_error_or_removed  40881 non-null  bool
 15  description             39585 non-null  object
dtypes: bool(3), int64(5), object(8)
memory usage: 4.2+ MB

In [98]:
df["trending_date"] = pd.to_datetime(df["trending_date"], format='%y.%d.%m')

In [99]:
df.isna().sum()

video_id                     0
trending_date                0
title                        0
channel_title                0
category_id                  0
publish_time                 0
tags                         0
views                        0
likes                        0
dislikes                     0
comment_count                0
thumbnail_link               0
comments_disabled            0
ratings_disabled             0
video_error_or_removed       0
description               1296
dtype: int64

In [100]:
df["description"] = df["description"].fillna("No Description")

In [101]:
df.isna().sum()

video_id                  0
trending_date             0
title                     0
channel_title             0
category_id               0
publish_time              0
tags                      0
views                     0
likes                     0
dislikes                  0
comment_count             0
thumbnail_link            0
comments_disabled         0
ratings_disabled          0
video_error_or_removed    0
description               0
dtype: int64

In [102]:
df.nunique()

video_id                  24427
trending_date               205
title                     24573
channel_title              5076
category_id                  17
publish_time              23613
tags                      20157
views                     40170
likes                     24676
dislikes                   6241
comment_count             11172
thumbnail_link            24422
comments_disabled             2
ratings_disabled              2
video_error_or_removed        2
description               22346
dtype: int64

In [103]:
duplicates = df[df.duplicated(subset='video_id', keep=False)]
duplicates.count()

video_id                  26365
trending_date             26365
title                     26365
channel_title             26365
category_id               26365
publish_time              26365
tags                      26365
views                     26365
likes                     26365
dislikes                  26365
comment_count             26365
thumbnail_link            26365
comments_disabled         26365
ratings_disabled          26365
video_error_or_removed    26365
description               26365
dtype: int64

In [104]:
df['unique_id'] = df.reset_index(drop=True).index + 1

In [105]:
df.columns

Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description', 'unique_id'],
      dtype='object')

In [106]:
df = df[['unique_id', 'video_id', 'trending_date', 'title', 'channel_title', 
          'category_id', 'publish_time', 'tags', 'views', 'likes', 'dislikes', 
          'comment_count', 'thumbnail_link', 'comments_disabled', 'ratings_disabled', 
          'video_error_or_removed', 'description']]

In [107]:
df.head()

,unique_id,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,1,n1WpP7iowLc,2017-11-14,Eminem - Walk On Water (Audio) ft. BeyoncÃ©,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. BeyoncÃ© i...
1,2,0dBIkQ4Mz1M,2017-11-14,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...
2,3,5qpjK5DgCt4,2017-11-14,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146035,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO â–¶ \n\nSUBSCRIBE â–º http...
3,4,d380meD0W0M,2017-11-14,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095828,132239,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...
4,5,2Vv-BfVoq4g,2017-11-14,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634130,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,ðŸŽ§: https://ad.gt/yt-perfect\nðŸ’°: https://atlant...

In [108]:
df["unique_id"].nunique()

40881

In [109]:
df = df.drop("thumbnail_link",axis = 1)

In [110]:
df.columns

Index(['unique_id', 'video_id', 'trending_date', 'title', 'channel_title',
       'category_id', 'publish_time', 'tags', 'views', 'likes', 'dislikes',
       'comment_count', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description'],
      dtype='object')

In [111]:
df["comment_count"] = df["comment_count"].astype("int")

In [112]:
df["comment_count"].dtype

dtype('int64')

In [113]:
df["video_error_or_removed"] = df["video_error_or_removed"].astype("bool")

In [114]:
df["video_error_or_removed"].dtype

dtype('bool')

In [115]:
df["comments_disabled"] = df["comments_disabled"].astype("bool")

In [116]:
df["ratings_disabled"] = df["ratings_disabled"].astype("bool")

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40881 entries, 0 to 40880
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   unique_id               40881 non-null  int64
 1   video_id                40881 non-null  object
 2   trending_date           40881 non-null  datetime64[ns]
 3   title                   40881 non-null  object
 4   channel_title           40881 non-null  object
 5   category_id             40881 non-null  int64
 6   publish_time            40881 non-null  object
 7   tags                    40881 non-null  object
 8   views                   40881 non-null  int64
 9   likes                   40881 non-null  int64
 10  dislikes                40881 non-null  int64
 11  comment_count           40881 non-null  int64
 12  comments_disabled       40881 non-null  bool
 13  ratings_disabled        40881 non-null  bool
 14  video_error_or_removed  40881 non-null  bool
 15  description             40881 non-null  object
dtypes: bool(3), datetime64[ns](1), int64(6), object(6)
memory usage: 4.2+ MB

In [118]:
df.describe()

,unique_id,trending_date,category_id,views,likes,dislikes,comment_count
count,40881.000000,40881,40881.000000,4.088100e+04,4.088100e+04,4.088100e+04,4.088100e+04
mean,20441.000000,2018-02-27 05:29:22.882512640,20.795553,1.147036e+06,3.958269e+04,2.009195e+03,5.042975e+03
min,1.000000,2017-11-14 00:00:00,1.000000,7.330000e+02,0.000000e+00,0.000000e+00,0.000000e+00
25%,10221.000000,2018-01-04 00:00:00,20.000000,1.439020e+05,2.191000e+03,9.900000e+01,4.170000e+02
50%,20441.000000,2018-02-26 00:00:00,24.000000,3.712040e+05,8.780000e+03,3.030000e+02,1.301000e+03
75%,30661.000000,2018-04-24 00:00:00,24.000000,9.633020e+05,2.871700e+04,9.500000e+02,3.713000e+03
max,40881.000000,2018-06-14 00:00:00,43.000000,1.378431e+08,5.053338e+06,1.602383e+06,1.114800e+06
std,11801.472514,NaN,6.775054,3.390913e+06,1.326895e+05,1.900837e+04,2.157902e+04

In [121]:
df["category_id"]

0        10
1        23
2        23
3        24
4        10
         ..
40876    24
40877    24
40878    20
40879    25
40880    24
Name: category_id, Length: 40881, dtype: int64

In [124]:
df['category_names'] = df['category_id'].replace({1: "Film & Animation", 2: "Autos & Vehicles", 10: "Music",15:"Pets & Animals",17:"Sports",18:"Short Movies"
                                              ,19:"Travel & Events",20:"Gaming",21:"Videoblogging",22:"People & Blogs",23:"Comedy",24:"Entertainment",
                                              25:"News & Politics",26:"Howto & Style",27:"Education",28:"Science & Technology",30:"Movies",31:"Anime/Animation",
                                              32: "Action/Adventure",33: "Classics",34:"Comedy",35:"Documentary",36:"Drama",37:"Family",38:"Foreign",39:"Horror",
                                              40:"Sci-Fi/Fantasy",41:"Thriller",42:"Shorts",43:"Shows",44:"Trailors"})

In [125]:
df[["category_names","category_id"]]

        category_names  category_id
0                Music           10
1               Comedy           23
2               Comedy           23
3        Entertainment           24
4                Music           10
...                ...          ...
40876    Entertainment           24
40877    Entertainment           24
40878           Gaming           20
40879  News & Politics           25
40880    Entertainment           24

[40881 rows x 2 columns]

In [126]:
df.columns

Index(['unique_id', 'video_id', 'trending_date', 'title', 'channel_title',
       'category_id', 'publish_time', 'tags', 'views', 'likes', 'dislikes',
       'comment_count', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description', 'category_names'],
      dtype='object')